label,
input,
button {
  margin: 2%;
  width: 100%;
}

#slotTable {
  width: 100%;
  margin: 5% 0;
  overflow-x: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 0.8rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media (max-width: 767px) {
  td,
  th {
    font-size: 0.5rem;
  }
}
